/*
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

h1.yxh-logo {
    color: hsla(56, 100%, 50%, 0.9);
    font: normal 40px Varela Round, sans-serif;
    letter-spacing: 5px;
    text-align: center;
    animation: move linear 2s infinite;
    margin-left: 20px;
}

@keyframes move {
    0% {
        text-shadow:
                4px -4px 0 hsla(0, 100%, 50%, 1),
                3px -3px 0 hsla(0, 100%, 50%, 1),
                2px -2px 0 hsla(0, 100%, 50%, 1),
                1px -1px 0 hsla(0, 100%, 50%, 1),
                -4px 4px 0 hsla(180, 100%, 50%, 1),
                -3px 3px 0 hsla(180, 100%, 50%, 1),
                -2px 2px 0 hsla(180, 100%, 50%, 1),
                -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
    }
    25% {
        text-shadow:
                -4px -4px 0 hsla(180, 100%, 50%, 1),
                -3px -3px 0 hsla(180, 100%, 50%, 1),
                -2px -2px 0 hsla(180, 100%, 50%, 1),
                -1px -1px 0 hsla(180, 100%, 50%, 1),
                4px 4px 0 hsla(0, 100%, 50%, 1),
                3px 3px 0 hsla(0, 100%, 50%, 1),
                2px 2px 0 hsla(0, 100%, 50%, 1),
                1px 1px 0 hsla(0, 100%, 50%, 1)
    ;
    }
    50% {
        text-shadow:
                -4px 4px 0 hsla(0, 100%, 50%, 1),
                -3px 3px 0 hsla(0, 100%, 50%, 1),
                -2px 2px 0 hsla(0, 100%, 50%, 1),
                -1px 1px 0 hsla(0, 100%, 50%, 1),
                4px -4px 0 hsla(180, 100%, 50%, 1),
                3px -3px 0 hsla(180, 100%, 50%, 1),
                2px -2px 0 hsla(180, 100%, 50%, 1),
                1px -1px 0 hsla(180, 100%, 50%, 1)
    ;
    }
    75% {
        text-shadow:
                4px 4px 0 hsla(180, 100%, 50%, 1),
                3px 3px 0 hsla(180, 100%, 50%, 1),
                2px 2px 0 hsla(180, 100%, 50%, 1),
                1px 1px 0 hsla(180, 100%, 50%, 1),
                -4px -4px 0 hsla(0, 100%, 50%, 1),
                -3px -3px 0 hsla(0, 100%, 50%, 1),
                -2px -2px 0 hsla(0, 100%, 50%, 1),
                -1px -1px 0 hsla(0, 100%, 50%, 1)
    ;
    }
    100% {
        text-shadow:
                4px -4px 0 hsla(0, 100%, 50%, 1),
                3px -3px 0 hsla(0, 100%, 50%, 1),
                2px -2px 0 hsla(0, 100%, 50%, 1),
                1px -1px 0 hsla(0, 100%, 50%, 1),
                -4px 4px 0 hsla(180, 100%, 50%, 1),
                -3px 3px 0 hsla(180, 100%, 50%, 1),
                -2px 2px 0 hsla(180, 100%, 50%, 1),
                -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
    }
}*/


h1.yxh-logo{
    background-image: url("../bo.png");
    color: transparent;
    -webkit-background-clip: text;
    animation: move linear 2s infinite;
    background-size: 100% 85%;
    margin-left: 20px;
    cursor: pointer;
    user-select:none;
}

@keyframes move{
    0% {
        background-position-x: -80px;
    }


    100% {
        background-position-x: 0;
    }
}

